{% extends "base.html" %}

{% block content %}
<div class="center-container">
  <h1><a href="index.html"><b>myFitnessAIcoach</b></a></h1>
  <br>

  <div class="subtitle">
    <h2>AI Schedule</h2>
    <br>
  </div>
  <h3>Personal Information</h3>
  <br>

  <h4>Age</h4>
  <div class="age-range">
    <div class="slider-value">
      <span class="slider-span">50</span>
    </div>
    <div class="field">
      <div class="value left">0</div>
      <input type="range" class="age-input" min="0" max="100" value="50" step="1">
      <div class="value right">100</div>
    </div>
  </div>
  <script>
    const ageslideValue = document.querySelector(".age-range .slider-span");
    const ageinputSlider = document.querySelector(".age-input");
    ageinputSlider.oninput = () => {
      let agevalue = ageinputSlider.value;
      ageslideValue.textContent = agevalue;
      ageslideValue.style.left = agevalue + "%";
      ageslideValue.classList.add("show");
    };
    ageinputSlider.onblur = () => {
      ageslideValue.classList.remove("show")
    };
  </script>

  <br>
  <h4>Gender</h4>
  <br>
  <div class="gender-selection">
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label>
    <input type="radio" id="other" name="gender" value="other">
    <label for="other">Other</label>
  </div>
  
  <br>
  <br>

  <h4>Weight</h4>
  <div class="weight-range">
    <div class="slider-value">
      <span class="slider-span">70</span>
    </div>
    <div class="field">
      <div class="value left">0</div>
      <input type="range" class="weight-input" min="0" max="200" value="100" step="1">
      <div class="value right">200</div>
    </div>
  </div>
  <script>
    const weightslideValue = document.querySelector(".weight-range .slider-span");
    const weightinputSlider = document.querySelector(".weight-input");
    weightinputSlider.oninput = () => {
      let weightvalue = weightinputSlider.value;
      weightslideValue.textContent = weightvalue;
      weightslideValue.style.left = (weightvalue / 2) + "%";
      weightslideValue.classList.add("show");
    };
    weightinputSlider.onblur = () => {
      weightslideValue.classList.remove("show")
    };
  </script
