{% extends "base.html" %} {% block content %}
<div class = "aischedulepage">
  <!--Subtitle #1--->
  <div class="subtitle">
    <h2>AI Schedule</h2>
    <br />
  </div>
  <h3>Personal Information</h3>
  <br />

  <!--Age input-->
  <h4>Age</h4>
  <div class="age-range">
    <div class="slider-value">
      <span class="slider-span">50</span>
    </div>
    <div class="field">
      <div class="value left">0</div>
      <input
        type="range"
        id="age-input"
        class="age-input"
        min="0"
        max="100"
        value="50"
        step="1"
      />
      <div class="value right">100</div>
    </div>
  </div>
  <script>
    const ageslideValue = document.querySelector(".age-range .slider-span");
    const ageinputSlider = document.querySelector(".age-input");
    ageinputSlider.oninput = () => {
      let agevalue = ageinputSlider.value;
      ageslideValue.textContent = agevalue;
      ageslideValue.style.left = agevalue + "%";
      ageslideValue.classList.add("show");
    };
    ageinputSlider.onblur = () => {
      ageslideValue.classList.remove("show");
    };
  </script>

  <br />
  <h4>Gender</h4>
  <br />
  <div class="gender-selection">
    <input type="radio" id="male" name="gender" value="male" />
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="female" />
    <label for="female">Female</label>
    <input type="radio" id="other" name="gender" value="other" />
    <label for="other">Other</label>
  </div>

  <br />
  <br />

  <!--Weight input-->
  <h4>Weight</h4>
  <div class="weight-range">
    <div class="slider-value">
      <span class="slider-span">70</span>
    </div>
    <div class="field">
      <div class="value left">0</div>
      <input
        type="range"
        id="weight-input"
        class="weight-input"
        min="0"
        max="200"
        value="100"
        step="1"
      />
      <div class="value right">200</div>
    </div>
  </div>
  <script>
    const weightslideValue = document.querySelector(
      ".weight-range .slider-span"
    );
    const weightinputSlider = document.querySelector(".weight-input");
    weightinputSlider.oninput = () => {
      let weightvalue = weightinputSlider.value;
      weightslideValue.textContent = weightvalue;
      weightslideValue.style.left = weightvalue / 2 + "%";
      weightslideValue.classList.add("show");
    };
    weightinputSlider.onblur = () => {
      weightslideValue.classList.remove("show");
    };
  </script>

  <br />
  <h4>Target Muscles </h4>
  <div class="muscle-container">
    
    
    <div id="muscle-list" class="muscle-list">
        <li>
        </li>
            <button id="add-muscle-btn">+</button>
    </div>

  </div>

  

<div id="muscleModal" class="muscle-modal">
    <div class="muscle-modal-content">
        <span class="close">&times;</span>
        <h4>Select Muscle</h4>
        <select id="muscle-select"></select>
        <button id="save-muscle-btn">Add Muscle</button>
    </div>
</div>
  
<!--Goal selection-->


</div>
  <div class="goal-selection">
    <label for="Goal">Goal</label>
    <select id="goal" name="Goal">
      <option value="weight_loss">weight loss</option>
      <option value="muscle_gain">muscle gain</option>
      <option value="strength_training">strength training</option>
      <option value="cardiovascular_endurance">cardiovascular endurance</option>
      <option value="flexibility">flexibility</option>
      <option value="general_fitness">general fitness</option>
    </select>
    </div>
    <a href="schedule_page.component.html">
      <button
        id="create-schedule-btn"
        style="
          font-size: large;
          background-size: 2cm;
          background-color: aquamarine;
          border-radius: 17px;
        "
        disabled
      >
        Create AI Schedule
      </button>
    </a>
 
</div>
{% endblock %}