<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>FitnessAI</title>
    <meta name = "description" content = "Gym schedule made by AI and much more">
    <meta name = "keywords"content = "gym, fitness, gym planning, AI schedule">
    <!--image of website in toolbar-->
    <link rel = "icon" type = "image/jpg" href = "images/biceps.jpg">
    
</head>

<body style = "background-color: rgb(80, 220, 206);">
    <!--Title of page--->
    <h1><b><div style = "background-color: rgba(21, 208, 241, 0.84);">FitnessAI</div></b></h1>
    <br>
    <!--Subtitle #1--->
    <h2>Discover Exercises</h2>

    <!--Search bar-->
    
    <form class="search-bar" action="/search" method="GET">
        <label for="search-input"></label>
        <input type="text" id="search-input" name="exercise" placeholder="Exercise name">
        
    </form>

    

    <br>
    <br>
     <!--just a test, replace with link to page 2--->
     <a href = "https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley" target = _self title="never gonna give you up">
    
        <!--Create shedule manually -->
    <img src = "images/pankwoman.png" height = 200 width="300">
     </a>
     <!---Create schedule with AI image + link to AI schedule page--->
     <a href="AIschedule.html" target="_self" title ="Use AI to make a personalized schedule">
        
    <img src = "images/naturebuffguy.png" height = 200 width="300">
    </a>
</body>

</html>