<!DOCTYPE html>
<html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>FitnessAI AI schedule</title>
    <link rel = "icon" type = "image/jpg" href = "../../assets/images/biceps.jpg">
</head>

<body style = "background-color: rgb(80, 220, 206);">
    <!--Ttitle of page--->
    <h1><b>FitnessAI</b></h1>
    <br>
    <!--Subtitle #1--->
    <h2>AI Schedule</h2>


    <h3>Personal Information</h3>

    <div>
    <!--age input-->
    Age 
    <br>
    <input type="range">
    <br>
    </div>

    <!--Gender selection-->
    <div>
        
         
        
    Gender
    <br>
    <label>Male</label>
    <input type="radio" id = "Male" name = "title" value = "male">

    <label>Female</label>
    <input type = "radio" id = "Female" name = "title" value = "female">

    <label>Other</label>
    <input type = "radio" id = "Other"name = "title" value = "other">
    <br>
    </div>

    <div>
    <!--Weight input-->
    Weight 
    <br>
    <input type="range">
    </div>
    <h3>Preferences</h3>

    <!--Goal selection-->
    <label for = "Goal">Goal</label>
    <select id = "Goal" name ="Goal">
        <option value = "weight_loss">weight loss</option>
        <option value = "muscle_gain">muscle gain</option>
        <option value = "strength_training" >strength training</option>
        <option value = " cardiovascular_endurance">cardiovascular endurance</option>
        <option value = "flexibility">flexibility</option>
        <option value = "general_fitness">general fitness</option>
    </select>
    <div>
    </div>
    <!--Calculate button-->
    <a href="../schedule_page/schedule_page.component.html">
    <button style = "font-size:large;  background-size: 2cm; background-color: aquamarine; border-radius: 17px; " >Create AI Schedule</button>
    </a>
    
        

</body>
</html>