{% extends "base.html" %} {% block content %}

        <!-- Subtitle #1 -->
         <div class="subtitle">
        <h2>Schedule</h2>
    </div>
    </div>
    <div class="container">
        <h2>User Information</h2>
        <div>
            <p><strong>Age:</strong> <span id="age-input"></span></p>
            <p><strong>Gender:</strong> <span id="user-gender"></span></p>
            <p><strong>Weight:</strong> <span id="weight-input"></span></p>
        </div>
        <button onclick="clearLocalStorage()">Clear Data</button>
    </div>
    <!-- Link to JavaScript file -->
    <script src="../static/js/scripts.js"></script>
</body>
</html>
{% endblock %}