aischedule h1 a {
    position: relative;
    z-index: 10;
    text-decoration: none !important;
}

/* Days selection styles */
.day-selector {
    text-align: center;
    margin-top: 20px;
}

.days-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.day {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.day.active {
    background-color: grey;
    color: white;
}

/* Sliders styles */
/* sliders background */
.age-range, .weight-range {
    height: 50px;
    width: 100%;
    max-width: 1000px;
    background: linear-gradient(135deg, #e0e0e0ae, #c0c0c017);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 65px 0 45px;
    margin: auto;
}

/* number showed when selecting */
.age-range .slider-value, .weight-range .slider-value {
    position: relative;
    width: 100%;
}

.age-range .slider-value .slider-span, .weight-range .slider-value .slider-span {
    position: absolute;
    height: 45px;
    width: 45px;
    color: #D0D3D4;
    font-weight: 500;
    top: -40px;
    transform: translateX(-50%) scale(0);
    transform-origin: bottom;
    transition: transform 0.3s ease-in-out;
    line-height: 55px;
    z-index: 2;
    background: #2A3D66;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.age-range .slider-value .slider-span.show, .weight-range .slider-value .slider-span.show {
    transform: translateX(-50%) scale(1);
}

/* slider surrounding when using */
.age-range .slider-value .slider-span:after, .weight-range .slider-value .slider-span:after {
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background: linear-gradient(135deg, #2A3D66, #2A3D66);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    z-index: -1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

/* Thumb styling (the button we actually touch) */
.age-range .field input::-webkit-slider-thumb, .weight-range .field input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: linear-gradient(135deg, #2A3D66, #586175);
    border-radius: 50%;
    border: 2px solid #B0B3B8;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Thumb hover effect */
.age-range .field input::-webkit-slider-thumb:hover, .weight-range .field input::-webkit-slider-thumb:hover {
    background: linear-gradient(135deg, #00A8A8, #2A3D66);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Slider and values */
.age-range .field, .weight-range .field {
    position: relative;
    display: flex;
    align-items: center;
    
}