/* discover.styles.css */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0f7fa;
  }
  
  header h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  
  .main-block {
    padding: 40px 20px;
  }
  
  .description {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .description h1 {
    font-size: 36px;
    color: #ffffff;
  }
  
  .description p {
    font-size: 18px;
    color: #ffffffe6;
  }
  
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-right: 20px;
  }
  
  #search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00796b;
    border-radius: 5px;
  }
  
  .dropdown-discover-exercises {
    position: relative;
    margin-right: 20px;
  }
  
  .dropbtn {
    background-color: #00796b;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e0f7fa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .dropdown-content a {
    color: #7be8db;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #b2dfdb;
  }
  
  .dropdown-discover-exercises:hover .dropdown-content {
    display: block;
  }
  
  .search-btn {
    background-color: #8fc8c1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .search-btn img {
    width: 20px;
  }
  
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .exercise {
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  