.discover {
    display: -moz-grid-line;
    text-align: center;
    place-items: center;
    background-color: #1C1F2E;
    color: #333333;
}
.discover h1 a {
    position: relative;
    z-index: 10;
    text-decoration: none !important;
}