/*search bar background image and place*/
.homepage {
    display: flex;
    text-align: center;
    place-items: center;
    background-color: #1C1F2E;
    color: #333333;
    padding: 20px;
}

.homepage h1 a {
    position: relative;
    z-index: 10;
    text-decoration: none;
}
