/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Corbel';
  background: linear-gradient(80deg, #1b98e1 0%, #80d0c7 100%);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  justify-content: flex-start; /* Ensure content starts at the top */
}

.menu {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  backdrop-filter: blur(20px);
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  z-index: 100;
}

.nmenu-links {
  display: flex;
  justify-content: center; /* Center the links */
  gap: 20px; /* Add space between links */
}

.menu-links a {
  text-align: center;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.menu-links a:hover {
  text-decoration: underline;
}

.logo img {
  width: 320px;
}

.main-content {
  text-align: center;
  margin-top: 50px;
}

.main-content h1 {
  font-size: 3rem;
  color: #fff;
}

.main-content h2 {
  font-size: 2rem;
  margin: 20px 0;
  color: #ffffffd1;
}

.footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.291);
  color: #ffffffb9;
  font-size: 0.9rem;
}

.footer a {
  color: #ffffff9f;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/*Main text in the page*/
.main-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #fffffff2; 
  width: 75%; 
}
.index_page {
  text-align: center;
  margin-top: 150px; /* Increase this value if needed */
}

